<div class="search" style="float: right;">
    <input type="text" class="mb-2 mt-2" placeholder="Mời nhập email sinh viên" [(ngModel)]="keyword" (keyup)="search()">
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th (click)="sort('id')">Mã sinh viên <img src="https://img.icons8.com/ios-glyphs/344/sort.png" width="15px" alt=""></th>
            <th>Họ và tên</th>
            <th>Email</th>
            <th>Ngày sinh</th>
            <th>Bảng điểm</th>
            <th>
                <a routerLink="/admin/sinh-vien/add" class="btn btn-primary">Thêm</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of students | orderBy: key: reverse | paginate: {itemsPerPage:5,currentPage:p};">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.birthday}}</td>
            <td><a [routerLink]="'/admin/sinh-vien/' + item.id + '/bang-diem'">Chi tiết</a></td>
            <td>
                <button (click)="remove(item)" class="btn btn-danger">Xóa</button>
                <a [routerLink]="'/admin/sinh-vien/edit/' + item.id" class="btn btn-success ms-2">Cập nhật</a>
            </td>
        </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>