<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-css">
        <header>
            <a routerLink="/" routerLinkActive="active"><img src="https://ap.poly.edu.vn/images/logo.png" alt="" class="logo"></a>
            <app-header></app-header>
        </header>

        <main>
            <div class="content">
                <div class="main">
                    
                
                    <h2>Điểm của bạn là 10</h2><br>
                    <a href="javascript:history.back()">Quay lại</a><br>

                </div>

            </div>

        </main>

    </div>
</body>

</html>