<table class="table table-hover">
    <thead>
        <tr>
            <th>Nội dung</th>
            <th>Kết quả</th>
            <th>
                <a routerLink="/admin/question/{{code}}/answer/{{id}}/add" class="btn btn-primary">Thêm</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let asw of answers.Answers">
            <td>{{asw.Text}}</td>
            <td *ngIf="asw.id == answers.AnswerId"  [ngClass]="{'dung': asw.id == answers.AnswerId, 'sai':asw.id != answers.AnswerId}">Đáp án đúng</td>
            <td *ngIf="asw.id != answers.AnswerId" [ngClass]="{'dung': asw.id == answers.AnswerId, 'sai':asw.id != answers.AnswerId}" >Đáp án sai</td>
            <td>
                <a href="" class="btn btn-danger">Xóa</a>
                <a [routerLink]="" class="btn btn-success ms-2">Cập nhật</a>
            </td>
        </tr>
    </tbody>
</table>