
<div class="container-fluid">
    <div class="col-6 offset-3 mt-5">
        <form action="" [formGroup]="addForm">
            <div class="form-group mt-3">
                <label for="">Họ và tên</label>
                <input type="text" class="form-control" [(ngModel)]="studentData.fullname" formControlName="fullname">
                <div *ngIf="addForm.controls['fullname'].errors && addForm.controls['fullname'].touched || addForm.controls['fullname'].dirty"> 
                    <span class="text-danger" *ngIf="addForm.controls['fullname'].hasError('required')">Hãy nhập họ tên</span>
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="">Email</label>
                <input type="text" class="form-control" [(ngModel)]="studentData.email" formControlName="email">
                <div *ngIf="addForm.controls['email'].errors && addForm.controls['email'].touched || addForm.controls['email'].dirty"> 
                    <span class="text-danger" *ngIf="addForm.controls['email'].hasError('required')">Hãy nhập Email</span>
                    <span class="text-danger" *ngIf="addForm.controls['email'].hasError('email')">Hãy nhập đúng định dạng Email</span>
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="">Password</label>
                <input type="password" class="form-control" [(ngModel)]="studentData.password" formControlName="password">
                <div *ngIf="addForm.controls['password'].errors && addForm.controls['password'].touched || addForm.controls['password'].dirty"> 
                    <span class="text-danger" *ngIf="addForm.controls['password'].hasError('required')">Hãy nhập Password</span>
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="">Giới tính</label>
                <select name="" id="" class="form-control" [(ngModel)]="studentData.gender" formControlName="gender">
                    <option value="true">Nam</option>
                    <option value="false">Nữ</option>
                </select>
                <div *ngIf="addForm.controls['gender'].errors && addForm.controls['gender'].touched || addForm.controls['gender'].dirty"> 
                    <span class="text-danger" *ngIf="addForm.controls['gender'].hasError('required')">Hãy chọn giới tính</span>
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="">Ngày sinh</label>
                <input type="date" class="form-control" [(ngModel)]="studentData.birthday" formControlName="birthday">
                <div *ngIf="addForm.controls['birthday'].errors && addForm.controls['birthday'].touched || addForm.controls['birthday'].dirty"> 
                    <span class="text-danger" *ngIf="addForm.controls['birthday'].hasError('required')">Hãy nhập ngày sinh</span>
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="">Học phí</label>
                <input type="number" class="form-control" [(ngModel)]="studentData.schoolfee" formControlName="schoolfee">
                <div *ngIf="addForm.controls['schoolfee'].errors && addForm.controls['schoolfee'].touched || addForm.controls['schoolfee'].dirty"> 
                    <span class="text-danger" *ngIf="addForm.controls['schoolfee'].hasError('required')">Hãy nhập học phí</span>
                </div>
            </div>
            <div>
                <button [disabled]="addForm.invalid" (click)="addStudent()" class="btn btn-primary mt-3" >Thêm</button>
            </div>
        </form>
    </div>
</div>