<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->

      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/sinh-vien" routerLinkActive="active">Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/mon-hoc" routerLinkActive="active">Subject</a>
        </li>
      </ul>

      <!-- Left links -->
      <a class="navbar-brand mt-lg-0 fs-3 fw-bold" style="margin-right: 600px;"  routerLink="/admin/dashboard" routerLinkActive="active">
          <img src="https://ap.poly.edu.vn/images/logo.png" width="200px" alt="">
        </a>
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <div class="dropdown">
        <p style="cursor: pointer;" class="dropdown-toggle" type="text" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {{user}}
            </p>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a style="cursor: pointer;" class="dropdown-item" (click)="logout()">Logout</a></li>
              <li><a style="cursor: pointer;" class="dropdown-item" >Cập nhật tài khoản</a></li>
            </ul>
      </div>
  </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<!-- The routed views render in the <router-outlet>-->
  
</header>
<main class="container-fluid">
    <router-outlet></router-outlet>
</main>
<!-- <footer class="main-footer">
  <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 3.2.0
  </div>
</footer> -->