<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-css">
        <header>
            <a routerLink="/" routerLinkActive="active"><img src="https://ap.poly.edu.vn/images/logo.png" alt="" class="logo"></a>
            <app-header></app-header>
        </header>

        <main>
            <div class="content">
               
                <div class="main">

                    <div class="name-quiz" >
                        <div *ngFor="let s of subjects">
                        <h2 style="text-transform: uppercase; font-family: Arial, Helvetica, sans-serif;" *ngIf="s.Code == code">{{s.Code}}</h2>
                    </div>
                    </div>
                    <div>
                        <!-- <h2>Thời gian làm bài: <span id="time">{{ $data['duration_minutes'] }} </span> Phút</h2> -->
                    </div>

        
                    <form action="" method="POST" >
           
                            <div class="question" *ngFor="let item of questions; let i = index">
                                <div class="list-question">
                                    

                                    <ul>
                                        <li>
                                            <div style="border-bottom-style: double;border-color: red;width: 1111px; ">
                                                <a class="startQuiz" id="" style="text-transform: lowercase;">Câu hỏi {{i + 1}} : {{item.Text}}</a>
                                            </div>
                                        </li>
                                        <li>
                                           
                                                    <div *ngFor="let asw of item.Answers" class="asw">
                                                        <input (change)="selectAnswer(item.Id,asw.Id)" id="asw_{{asw.Id}}" class="form-check-input" style="margin-right: 3px;margin-left: 3px;" type="radio" name="{{item.Id}}" value="{{ asw.Id }}"  >
                                                        <label for="asw_{{asw.Id}}">{{asw.Text}}</label>
                                                    </div>
                            
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- <a routerLink="/quiz/{{code}}/ket-qua" routerLinkActive="active"> -->
                            <button (click)="submitExcercise()" type="submit" class="btn-endquiz" name="endQuiz" >Hoàn thành</button>

                    </form><br>
                   
                </div>

            </div>
        </main>

    </div>
    <script>
        function startTimer(duration, display) {
            var timer = duration,
                minutes, seconds;
            setInterval(function() {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }

        window.onload = function() {
            var fiveMinutes = 60 * "<?= $data['duration_minutes']; ?>",
                display = document.querySelector('#time');
            startTimer(fiveMinutes, display);
        };
    </script>
</body>

</html>