<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-css">
        <header>
            <a routerLink="/" routerLinkActive="active"><img src="https://ap.poly.edu.vn/images/logo.png" alt="" class="logo"></a>
            <app-header></app-header>
        </header>

        <main>
            <div class="content">
               
                <div class="main">

                    <div class="name-quiz" >
                        <div *ngFor="let s of subjects">
                        <h2 style="text-transform: uppercase; font-family: Arial, Helvetica, sans-serif;" *ngIf="s.Code == code">{{s.Code}}</h2>
                    </div>
                    </div>
                    <div>
                    </div>

        
                    <form action="" method="POST" >
           
                            <div class="question" *ngFor="let item of questions; let i = index">
                                <div class="list-question">
                                    

                                    <ul>
                                        <li>
                                            <div style="border-bottom-style: double;border-color: red;width: 1111px; ">
                                                <a class="startQuiz" id="" style="text-transform: capitalize;">Câu hỏi {{i + 1}} : {{item.Text}}</a>
                                            </div>
                                        </li>
                                        <li>
                                           
                                                    <div *ngFor="let asw of item.Answers" class="asw">
                                                        <input (change)="selectAnswer(item.id,asw.id)" id="asw_{{asw.id}}" class="form-check-input" style="margin-right: 3px;margin-left: 3px;" type="radio" name="{{item.id}}" value="{{ asw.id }}"  >
                                                        <label for="asw_{{asw.id}}">{{asw.Text}}</label>
                                                    </div>
                            
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- <a routerLink="/quiz/{{code}}/ket-qua" routerLinkActive="active"> -->
                            <button (click)="submitExcercise()" type="submit" class="btn-endquiz" name="endQuiz" >Hoàn thành</button>
                            <span style="float: right;margin-top: 50px;font-weight: bold;" >Điểm của bạn là : <span [ngClass]="{'diem-liet': percentCorect < '5', 'diem-dat': percentCorect >= '5'}">{{percentCorect}}</span></span>

                    </form><br>
                   
                </div>

            </div>
        </main>

    </div>
    
</body>

</html>