<div class="search" style="float: right;">
    <input type="text" class="mb-2 mt-2" placeholder="Mời nhập tên môn học" [(ngModel)]="keyword" (keyup)="search()">
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Mã môn học</th>
            <th>Tên môn học</th>
            <th>Logo</th>
            <th>Câu hỏi</th>
            <th>
                <a routerLink="/admin/mon-hoc/add" class="btn btn-primary">Thêm</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of subjects">
            <td>{{item.id}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Logo}}</td>
            <td><a [routerLink]="'/admin/question/' + item.Code">{{item.Code}}</a></td>
            <td>
                <a href="" class="btn btn-danger">Xóa</a>
                <a [routerLink]="'/admin/mon-hoc/edit/' + item.id" class="btn btn-success ms-2">Cập nhật</a>
            </td>
        </tr>
    </tbody>
</table>