<div class="container-fluid">
    <div class="col-6 offset-3 mt-5">
            <div class="form-group mt-3">
                <label for="">Code</label>
                <input type="text" class="form-control" [(ngModel)]="subjectData.Code">
            </div>
            <div class="form-group mt-3">
                <label for="">Tên môn học</label>
                <input type="text" class="form-control" [(ngModel)]="subjectData.Name">
            </div> 
            <div class="form-group mt-3">
                <label for="">Logo</label>
                <input type="file" class="form-control" [(ngModel)]="subjectData.Logo">
            </div>
           
            <div>
                <button (click)="addSubject()" class="btn btn-primary mt-3">Thêm</button>
            </div>
    </div>
</div>