<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-css">
        <header>
            <a routerLink="/" routerLinkActive="active"><img src="https://ap.poly.edu.vn/images/logo.png" alt="" class="logo"></a>
            <app-header></app-header>
        </header>
        <!-- lấy ra 10 đáp án ngẫu nhiên -->
        <!-- let arr = []
        while(arr.length < 10){
            let rand = Math.floor(Math.random() * 12)
            if(!arr.includes(rand)){
                arr.push(rand);
            }
        }
        console.log(arr) -->
        <main style="padding: 10px;">
            <div class="search" style="float: right;">
                <input type="text" class="mb-2" placeholder="Tìm kiếm môn học" [(ngModel)]="keyword" (keyup)="search()">
            </div>
                <div class="product">
                
                    <div class="product__item" *ngFor="let item of subjects">
                        <div class="product-header">
                            <div class="product-button">
                                <a [routerLink]="'subject/' + item.id" routerLinkActive="active"><button type="submit">Làm Quiz</button></a>
                            </div>
                            <div class="product-image">
                                <img src="https://cms.poly.edu.vn/asset-v1:FPOLY+COM107+2019_T09+type@asset+block@nganh-cong-nghe-thong-tin-hoc-nhung-mon-gi-1.jpg" alt="" class="image">
                            </div>

                        </div>

                        <div class="info">
                            <h4>Mã môn: {{item.id}}</h4>
                            <a href="" class="info-name">{{item.Name}}</a>
                        </div>
                    </div>
            </div>
        </main>

    </div>
</body>

</html>